
<footer class="G-flex-center-between">
  <div>
    <h3>Dananz</h3>
    <h3>One of the best furniture agency.</h3>
  </div>
  <div>
    <p> &#x2022;  Enter  your email to get the laterst news</p>
    <input type="email" placeholder="Email Address">
    <h4>Follow Us On</h4>
    <div class="G-flex-center-between" style="justify-content: space-around">
      <img src="assets/img/icons8-facebook-30.png" alt="sodial media">
      <img src="assets/img/icons8-facebook-30.png" alt="sodial media">
      <img src="assets/img/icons8-facebook-30.png" alt="sodial media">
      <img src="assets/img/icons8-facebook-30.png" alt="sodial media">
    </div>
  </div>
</footer>