<h1>Minimalist Room</h1>

<div class="G-flex-center-center">
  <p class="p1">
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
  </p>
</div>

<div class="G-flex-center-center img-box">
  <img src="assets/img/unsplash_77JACslA8G0.png" alt="home">
</div>

<div class="G-flex-center-between txt-boxes">
  <div>
    <h3>Project Overview</h3>
    <p>Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. </p>
    <p>July 22 - 2022 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Interior Design - Furnitur</p>
  </div>
  <div>
    <h3>Design Process</h3>
    <p>Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.</p>
    <p>Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.</p>
  </div>
</div>

<div class="G-flex-center-between img-boxes">
    <img src="assets/img/unsplash_7tFlUFGa7Dk.png" alt="room">
    <img src="assets/img/unsplash_sdRZrK4lVCk.png" alt="room">
</div>

<div class="G-flex-center-center img-box">
    <img src="assets/img/unsplash_JIUjvqe2ZHg.png" alt="room">
</div>

<div class="G-flex-center-between img-boxes">
    <img src="assets/img/unsplash_dO3qTKxwik0.png" alt="room">
    <img src="assets/img/unsplash_2_BZuGgkP4k.png" alt="room">
</div>

<div class="G-flex-center-between txt-boxes contact">
  <div>
    <h3>let's discuss making your interior like a dream place! </h3>
  </div>
  <div>
    <h3>Design Process</h3>
    <p>Contact us below to work together to build your amazing interior</p>
    <button>Contact Us</button>
  </div>
</div>